.ele-nav .ele-nav-item{
  position: relative;
  display: inline-block;
  /*vertical-align: middle;*/
  padding: 0 10px;
}
.ele-container{
  position: relative;
  margin: 0;
  width: 750px;
  padding: 0;
}
.ele-margin{
  margin: 15px 160px;
}
